* { 
	font-family: sans-serif;
	color: #FFA500;
	text-align: center;
}

body {
	width: 960px;
	margin: 0 auto;
	border: groove;
}

nav {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
}

li {
	display: inline;
	padding: 5px;
}

section {
	overflow: auto;
	height: 100;
}

main {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
}

article {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
	width: 280px;
	float: left;
}

